<div class="reset-password">
  <h2 class="header">Reset Password</h2>
  <div class="reset-info">
    <div>
      Please enter a new password for your account.
    </div>
  </div>
  <div class="form-container">
    <label for="new-password">New Password</label>
    <input
      [(ngModel)]="password1"
      type="password"
      id="new-password"
      placeholder="******"
    />
  </div>
  <div class="form-container">
    <label for="confirm-password">Confirm Password</label>
    <input
      [(ngModel)]="password2"
      type="password"
      id="confirm-password"
      placeholder="******"
    />
  </div>
  <div class="button-wrapper">
    <button type="button" id="submit-button" (click)="generateMessage()">
      Submit
    </button>
  </div>
  <div id="message" class="classFlex">
    {{ displayText }}
  </div>
</div>
