<ngx-smart-modal #adminDialog customClass="modal-dialog modal-dialog-centered" identifier="adminDialog">
  <div *ngIf="desiredOp" class="flex column" style="min-width: 30vw; padding: 1rem;">
    <h3>{{ desiredOp.name }}</h3>

    <form [formGroup]="form" (ngSubmit)="submit(model)">
      <formly-form [form]="form" [fields]="fields" [model]="model"></formly-form>
      <button *ngIf="desiredOp.operation" (click)="desiredOp.operation()" class="btn btn-primary">Submit</button>
      <button (click)="this.ngxSmartModalService.getModal('adminDialog').close();" class="btn btn-danger">Cancel</button>
    </form>

  </div>
</ngx-smart-modal>