.simple-card {
  padding: 0 1rem 1rem 1rem;
  border-radius: 4px;
  height: 40vh;
}

.simple-card-header {
  flex: 0 1 15%;
  text-align: center;
  padding: 1rem;
  border-bottom: 2px solid #2C2B3C;
}

.content-container {
  margin: 0 1rem 2rem 1rem;
  padding: 0 2rem 0 2rem;
}

.upcoming-item {
  margin-bottom: 0rem;
  border-radius: 4px;
  justify-content: center;
}

.upcoming-date {
  margin-right: 1rem;
  flex: 0 0 10%;
}

.upcoming-date h4 {
  margin-bottom: 0;
}

.upcoming-content {
  flex: 1 0 70%;
}

.upcoming-info-icon {
  font-size: 1.5rem;
}

.behind-pace > span {
  color: #f05d5e;
}

.on-pace > span {
  color: #43aa8b;
}

.carousel-indicators li {
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
  background-color: #2C2B3C;
}

.detail-field{
  margin-bottom: 0.5rem;
}

#upcoming-container {
  flex: 1 1 50%;
  padding-right: 1rem;
}

#events-container {
  padding: 1rem;
  overflow-y: auto;
  flex: 1 1 85%;
}

#status-container {
  padding: 1rem 0 1rem 0;
  margin-bottom: 1rem;
}

#points-progress-bar {
  width: 0%;
  text-align: center;
  height: 7vh;
  margin-bottom: 1rem;
  transition: all 250ms ease-in-out;
}

#points-progress-bar.incomplete {
  background-color: #f05d5e;
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
}

#points-progress-bar.complete {
  width: 100%;
  background-color: #43aa8b;
  color: white;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
}

#progress-percentage-container {
  height: 100%;
  width: 100vw;
}

#checkin-container {
  flex: 1 1 50%;
  padding-left: 1rem;
}

#checkin-carousel {
  flex: 1 1 auto;
  padding: 0 1rem 1rem 1rem;
  overflow-y: auto;
}

#activity-list { 
  flex: 1 1 auto;
}

#history-container {
  overflow-y: auto;
  max-height: 50vh;
  padding-top: 0.5rem;
}

#history-container th {
  border-top: 0;
}

.custom-file-uploader {
  position: relative;
}
.custom-file-uploader input[type='file'] {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: default;
}


/**************** MEDIA QUERIES *****************/
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .simple-card {
    height: 80vh;
    margin-bottom: 1rem;
  }

  .content-container {
    padding: 0;
  }

  .simple-card:last-child {
    margin-bottom: 0;
  }

  .simple-card-header {
    flex: 0 1 10%;
  }

  #upcoming-container {
    flex: 1 1 100%;
    padding: 0;
    margin-bottom: 2rem;
  }

  #events-container {
    padding: 0 1rem 0 1rem;
    flex: 1 1 90%;
  }
  
  #checkin-container {
    padding: 0;
  }
}