.content-container {
  margin: 0 1rem 2rem 1rem;
  padding: 0 2rem 0 2rem;
}

.upcoming-item {
  margin: 0.5rem 0rem 1rem 0rem;
  border-radius: 4px;
  justify-content: center;
}

.upcoming-date {
  flex: 1 1 20%;
  justify-content: center;
}

.upcoming-date h4 {
  margin: 0;
}

.upcoming-date p {
  margin: 0;
}

.upcoming-content {
  flex: 1 1 80%;
  padding-left: 0.5rem;
  justify-content: center;
}

.upcoming-content p{
  margin: 0;
}

.embla {
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.embla__container {
  display: flex;
  height: 100%;
}

.embla__slide {
  flex: 1 0 100%; /* Choose any width */
  height: 100%;
  width: 100%;
}

.details-container p {
  margin-bottom: 0.1rem;
}

.embla__slide > div {
  height: 100%;
  width: 100%;
}

.slide-header {
  flex: 1 1 30%;
  margin-bottom: 2rem;
}

.checkin-button {
  width: 25vw;
  margin-top: 5%;
}

#upcoming-header {
  border-bottom: 2px solid #2C2B3C;
}

#overview-container {
  flex: 1 1 30%;
}

#overview-container .card {
  margin-bottom: 1rem;
}

#overview-container p {
  margin: 0;
}

#upcoming-container {
  flex: 0 1 35%;
  padding-right: 1rem;
}

#events-container {
  padding: 1rem;
  overflow-y: auto;
  flex: 1 1 85%;
}

#status-container {
  padding: 1rem 0 1rem 0;
  margin-bottom: 1rem;
}

#points-progress-bar {
  width: 0%;
  text-align: center;
  height: 7vh;
  margin-bottom: 1rem;
  transition: all 250ms ease-in-out;
}

#points-progress-bar.incomplete {
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
}

#points-progress-bar.complete {
  width: 100%;
  color: white;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
}

#progress-percentage-container {
  height: 100%;
  width: 100vw;
}

#checkin-container {
  flex: 1 1 70%;
  padding-left: 1rem;
}

#checkin-card { 
  height: 55vh;
  overflow-y: auto;
}

#history-container {
  overflow-y: auto;
  max-height: 50vh;
}

#history-container table{
  margin-bottom: 0rem;
}

#history-container th {
  border-top: 0;
}

#activity-select-container {
  max-width: 100%;
  width: 60%; 
  text-align: center;
} 

/**************** MEDIA QUERIES *****************/
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .content-container {
    padding: 0;
  }

  .embla__container {
    max-width: 80vw;
  }

  #checkin-container {
    padding: 0;
  }

  #checkin-card {
    height: 100vh; 
  }

  #activity-select-container {
    width: 100%; 
  }
}