<div class="flex column" id="status-container">
  <div id="points-progress-bar"
       class="incomplete bg-danger"
       [style.width]="getProgress()">
    <div class="flex row" id="progress-percentage-container">
      <h2 class="centered">{{ mPoints }} / {{ mGoal }}</h2>
    </div>
  </div>
  <b class="mx-auto behind-pace">Weekly Status: <span class="text-danger">Behind Pace</span></b>
</div>

<div class="flex row content-container">
  <div id="overview-container" class="flex column">
    <h3>Wellness Overview</h3>
    <div class="card">
      <div class="card-body">
        <div class="flex column" style="padding-left: 1rem; padding-right: 1rem;">
          <div class="flex row" style="justify-content: space-around;">
            <div style="flex: 0 1 50%; margin-bottom: 1rem;">
              <p class="text-primary">Weekly Goal</p>
              <p>50 pts</p>
            </div>
            <div style="flex: 0 1 50%; margin-bottom: 1rem;">
              <p class="text-primary">Quarterly Goal</p>
              <p>450 pts</p>
            </div>
          </div>
          <div class="flex row" style="justify-content: space-around;">
            <div style="flex: 0 1 50%; margin-bottom: 1rem;">
              <p class="text-primary">Total Earned</p>
              <p>150 pts</p>
            </div>
            <div style="flex: 0 1 50%; margin-bottom: 1rem;">
              <p class="text-primary">Weeks Remaining</p>
              <p>5</p>
            </div>
          </div>
        </div>
        <p class="card-text"><small class="text-muted">The quarter will end on 12/27/19.</small></p>
      </div>
    </div>
    <h3>Upcoming Events</h3>
    <div class="card">
      <div class="card-body flex">
        <div class="spinner-border centered" role="status" *ngIf="mUpcomingEvents === null; else displayUpcoming">
          <span class="sr-only">Loading...</span>
        </div>

        <ng-template #displayUpcoming>
          <div style="overflow-y: auto;">
              <div class="flex row upcoming-item" *ngFor="let event of mUpcomingEvents">
                  <div class="flex column upcoming-date">
                      <h5>{{ event.month_short }} {{ event.date.getDate() }}<small>{{ event.ordinal }}</small></h5>
                  </div>
                  <div class="flex column upcoming-content">
                    <b class="">{{ event.name }}</b>
                    <p class="">{{ event.description }}</p>
                  </div>
                </div>
          </div>
        </ng-template>
      </div>
    </div>
  </div>    
  
  <div id="checkin-container">
    <h3>Check In</h3>
    <div id="checkin-card" class="flex column card">
      <div class="card-body">
    
        <div class="flex" style="height: 100%;">
            <div class="spinner-border centered" role="status" *ngIf="mAvailableActivities === null; else checkinCarousel">
                <span class="sr-only">Loading...</span>
            </div>
        </div>

        <ng-template #checkinCarousel>
          <div id="checkin-carousel" class="carousel slide carousel-fade" data-wrap="false" data-ride="false">
            <div class="carousel-inner flex column">
              <div class="flex" style="flex: 0 0 15%;">
                <h4 class="centered">Log an activity</h4>
              </div>
              <div class="carousel-item active">

                <div id="activity-select-container" class="flex column mx-auto">
                    <ng-select [items]="mAvailableActivities"
                      bindLabel="taskName"
                      appendTo ="body"
                      [multiple]="false"
                      placeholder="Christmas Caroling"
                      [virtualScroll]="true"
                      [(ngModel)]="mSelectedActivities">
                      <ng-template ng-option-tmp let-item="item" let-search="searchTerm">
                          <div>{{ item.taskName }}</div>
                          <div class="flex column">
                              <small class="text-muted"><b class="">Required:</b> {{ item.taskAction }} ({{ item.taskFreq }})</small>
                              <small class="text-muted"><b class="">Worth:</b> {{ item.taskPoints }} pts</small>
                          </div>
                      </ng-template>
                    </ng-select>

                    <button type="button" class="btn btn-success" style="margin-top: 1rem;">Next</button>
                </div>
              </div>
              <div class="carousel-item">
                <div class="details-container flex column" *ngFor="let activity of mSelectedActivities" style="padding: 1rem;">
                  <div class="flex row">
                    <div style="flex: 0 0 30%;">
                      <h5>{{ activity.taskName }}</h5>
                    </div>
                    <div style="flex: 0 0 40%;">
                      <p>{{ activity.taskAction }}</p>
                    </div>
                    <h2 class="centered">0</h2>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="flex column">
                    <div class="centered">
                        <p>Thanks for logging your activity. <br> You'll receive 15 points once it's approved.</p>
                        <button type="button" class="btn btn-success btn-block">Done</button>
                    </div>
                </div>
              </div>
              <nav aria-label="Checkin navigation" style="align-self: center; flex: 0 0 15%;">
                  <ul class="pagination">
                    <li class="page-item active"><a class="page-link" href="#checkin-carousel" role="button" data-slide-to="0">1</a></li>
                    <li class="page-item"><a class="page-link" href="#checkin-carousel" role="button" data-slide-to="1">2</a></li>
                    <li class="page-item"><a class="page-link" href="#checkin-carousel" role="button" data-slide-to="2">3</a></li>
                  </ul>
              </nav>
            </div>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</div>

<div id="history-container" class="flex column content-container">
  <h3>Quarter History</h3>
  <div id="history-card" class="card table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Activity</th>
          <th scope="col">Amount</th>
          <th scope="col">Points Earned</th>
          <th scope="col">Submitted</th>
          <th scope="col">Status</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Jogging</td>
          <td>2 miles</td>
          <td>10</td>
          <td>9/28/2019</td>
          <td class="text-success">Approved</td>
        </tr>
        <tr>
          <td>Lab Visit</td>
          <td>1</td>
          <td>10</td>
          <td>9/28/2019</td>
          <td class="text-success">Approved</td>
        </tr>
        <tr>
          <td>Rockclimbing</td>
          <td>25 feet</td>
          <td>15</td>
          <td>9/29/2019</td>
          <td class="text-primary">Pending</td>
        </tr>
        <tr>
          <td>Steps</td>
          <td>4,583</td>
          <td>5</td>
          <td>9/29/2019</td>
          <td class="text-danger">Rejected</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
