<div class="wrapper">
  <div class="top-column">
    Edit -
    <input class="format-edit-name" [(ngModel)]="user.username" type="text" />
  </div>
  <div class="middle-column padding-right">
    <div style="width: 35%;" class="margin-left">
      <span>Name</span>
      <input [(ngModel)]="user.name" type="text" />
    </div>
    <div style="width: 15%;">
      <span>User Category</span>
      <!-- <input [(ngModel)]="user.category.name" type="text" /> -->
      <ng-select
        [items]="categories"
        bindLabel="category"
        appendTo="body"
        [multiple]="false"
        placeholder="user.category.name"
        [virtualScroll]="true"
        [(ngModel)]="user.category"
        name="category"
        #category="ngModel"
      >
        <ng-template ng-option-tmp let-item="item" let-search="searchTerm">
          <div>{{ item.name }}</div>
        </ng-template>
      </ng-select>
    </div>
    <div style="width: 15%;">
      <span>Email</span>
      <input [(ngModel)]="user.email" type="text" />
    </div>
    <div style="width: 20%;">
      <span>Access Level</span>
      <!-- <input [(ngModel)]="user.roles[0].name" type="text" /> -->

      <ng-select
        [items]="roles"
        bindLabel="roles"
        appendTo="body"
        [multiple]="false"
        placeholder="user.roles[0].name"
        [virtualScroll]="true"
        [(ngModel)]="user.roles[0].name"
        name="roles"
        #category="ngModel"
      >
        <ng-template ng-option-tmp let-item="item" let-search="searchTerm">
          <div>{{ item }}</div>
        </ng-template>
      </ng-select>
    </div>
    <div style="width: 15%;">
      <span>Quarter Total</span>
      <input [(ngModel)]="user.quarter_total" type="text" />
    </div>
    <div style="width: 15%;">
      <span>Quarter Goal</span>
      <input [(ngModel)]="user.quarter_goal" type="text" />
    </div>
  </div>
  <div class="bottom-column">
    <span>
      <button class="save-button" (click)="saveClicked()">Save</button>
      <button class="delete-button" (click)="deleteClicked()">Delete</button>
    </span>
  </div>
</div>
