<div class="register flex column centered">
  <h1 style="padding-bottom: 1rem;">Register</h1>
  <div class="form-wrapper">
    <label for="user-email">Trinity ID</label>
    <input type="text" id="user-trinity-id" placeholder="1234mr" />
    <label for="user-email">Email</label>
    <input type="text" id="user-email" placeholder="me@site.com" />
    <label for="user-password">Password</label>
    <input type="password" id="user-password" placeholder="******" />
    <label for="confirm-password">Confirm Password</label>
    <input type="password" id="confirm-password" placeholder="******" />
    <button type="button" class="btn btn-primary btn-block">Register</button>
  </div>
</div>
