<div class="register">
  <h2 class="header">Register</h2>

  <div class="form-container">
    <label for="email">Email</label>
    <input type="text" id="email" placeholder="me@site.com" />
  </div>
  <div class="form-container">
    <label for="new-password">Password</label>
    <input
      [(ngModel)]="password1"
      type="password"
      id="new-password"
      placeholder="******"
    />
  </div>
  <div class="form-container">
    <label for="confirm-password">Confirm Password</label>
    <input
      [(ngModel)]="password2"
      type="password"
      id="confirm-password"
      placeholder="******"
    />
  </div>
  <div class="button-wrapper">
    <button type="button" id="submit-button" (click)="generateMessage()">
      Submit
    </button>
  </div>
  <div class="button-wrapper">
    <button type="submit" id="login-redirect" routerLink="/login">
      Already Have an Account?
    </button>
  </div>
  <div id="message" class="classFlex">
    {{ displayText }}
  </div>
</div>
