<div class="wrapper">
  <div class="top-column">Edit - {{ task.taskName }}</div>
  <div class="middle-column padding-right">
    <div class="margin-left">
      <span>Task Name</span>
      <input placeholder="{{ task.taskName }}" type="text" />
    </div>
    <div>
      <span>Task Action</span>
      <input placeholder="{{ task.taskAction }}" type="text" />
    </div>
    <div>
      <span>Task Points</span>
      <input placeholder="{{ task.taskPoints }}" type="text" />
    </div>
    <div>
      <span>Task Max</span>
      <input placeholder="{{ task.taskMax }}" type="text" />
    </div>
    <div>
      <span>Task Frequency</span>
      <input placeholder="{{ task.taskFreq }}" type="text" />
    </div>
    <div>
      <span>Photo Required</span>
      <input placeholder="{{ task.photoRequired }}" type="text" />
    </div>
  </div>
  <div class="bottom-column">
    <span>
      <button class="save-button" (click)="saveClicked()">Save</button>
      <button class="delete-button" (click)="deleteClicked()">Delete</button>
    </span>
  </div>
</div>
