.black-border {
  border: 1px solid black;
}

.wrapper {
  width: 84vw;
  height: 100%;
  opacity: 0;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 2px;
  background-color: #f8f9fa;
  animation: fadeIn;
  animation-duration: 0.9s;
  animation-delay: 0.4s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

.wrapper div {
  flex: 1;
}

.top-column {
  font-size: 125%;
  padding-left: 20px;
  padding-top: 10px;
  height: 30%;
}

.middle-column {
  display: flex;
  overflow: auto;
  height: 39%;
}

.middle-column div {
  display: flex;
  flex-direction: column;
  padding-left: 5px;
  padding-right: 5px;
}

.middle-column input[type='text'] {
  border: 0.05px solid black;
}

.small-input input[type='text'] {
  width: 3vw;
}

.bottom-column {
  display: flex;
  justify-content: flex-end;
  padding-top: 3vh;
  height: 31%;
}

.save-button {
  color: white;
  background-color: green;
  border: none;
  width: 8vw;
  margin-top: 5px;
  margin-left: 2px;
  margin-right: 2px;
  border-radius: 3px;
}

.delete-button {
  color: white;
  background-color: red;
  border: none;
  width: 8vw;
  margin-top: 5px;
  margin-left: 2px;
  margin-right: 2px;
  border-radius: 3px;
}

.margin-left {
  margin-left: 10px;
}

.padding-right {
  margin-right: 10px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
