<div class="wrapper">
  <div class="top-column">Edit - {{ task.taskName }}</div>
  <div class="middle-column padding-right">
    <div class="margin-left">
      <span>Task Name</span>
      <input [(ngModel)]="task.taskName" style="width: 9rem;" type="text" />
    </div>
    <div>
      <span>Task Action</span>
      <input [(ngModel)]="task.taskAction" style="width: 9rem;" type="text" />
    </div>
    <div>
      <span>Task Points</span>
      <input [(ngModel)]="task.taskPoints" style="width: 7rem;" type="text" />
    </div>
    <div>
      <span>Task Max</span>
      <input [(ngModel)]="task.taskMax" style="width: 7rem;" type="text" />
    </div>
    <div>
      <span>Task Frequency</span>
      <input [(ngModel)]="task.taskFreq" style="width: 9rem;" type="text" />
    </div>
    <div>
      <span>Photo Required</span>
      <input
        [(ngModel)]="task.photoRequired"
        style="width: 9rem;"
        type="text"
      />
    </div>
  </div>
  <div class="bottom-column">
    <span>
      <button class="save-button" (click)="saveClicked()">Save</button>
      <button class="delete-button" (click)="deleteClicked()">Delete</button>
    </span>
  </div>
</div>
