<div class="wrapper rainbow">
  <div class=" top-column">Edit - Task</div>
  <div class=" middle-column">
    <div class="first-input">
      <span class="format-label">Task Name</span>
      <span><input type="text"/></span>
    </div>
    <div>
      <span class="format-label">Unit of Measure</span>
      <span><input type="text"/></span>
    </div>
    <div>
      <span class="format-label">Photo Required</span>
      <span><input type="text"/></span>
    </div>
    <div>
      <span class="format-label">Point Value</span>
      <span><input type="text"/></span>
    </div>
    <div class="white-space"></div>
  </div>
  <div class="bottom-column">
    <span>
      <button class="save-button" (click)="saveClicked()">Save</button>
      <button class="delete-button" (click)="deleteClicked()">Delete</button>
    </span>
  </div>
</div>
