
<ngx-smart-modal #userHistoryDialog customClass="modal-dialog modal-dialog-centered" 
  identifier="userHistoryModal" 
  [closable]="true" 
  [escapable]="true" >

  <div class="flex column" style="min-width:40vw; padding: 1rem;">
    <h1 class="mx-auto">User Task History</h1>

    <!-- <ngx-table
      id="user-history-table"
      [configuration]="configuration"
      [data]="userTasks"
      [columns]="view.columns">
    </ngx-table> -->
  
  
    <button type="button" class="btn btn-secondary" (click)="userHistoryDialog.close()">Close</button>
  </div>
  </ngx-smart-modal>
