<div class="flex column">
  <h1 class="mx-5 mb-3">Admin Dashboard</h1>
  <div class="mx-5 mb-3">
    <h3>Overview</h3>
    <div class="card-deck">
      <div class="card" style="min-width: 300px;">
        <div class="card-body">
          <h5 class="card-title">Tasks</h5>
          <p class="card-text">12 Tasks Need Verification</p>
          <hr>
          <div class="flex row" style="justify-content: space-between">
              <button type="button" class="btn btn-primary btn-small">View Tasks</button>
          </div>
        </div>
      </div>
      <div class="card" style="min-width: 300px;">
        <div class="card-body">
          <h5 class="card-title">Compliancy</h5>
          <p class="card-text">55% users are compliant this quarter.</p>
          <hr>
          <div class="flex row" style="justify-content: space-between">
              <button type="button" class="btn btn-primary btn-small">Export Compliant Users</button>
              <button type="button" class="btn btn-primary btn-small">Export Others</button>
          </div>
        </div>
      </div>
      <div class="card" style="min-width: 300px;">
        <div class="card-body">
          <h5 class="card-title">Quarter</h5>
          <p class="card-text">End Date: 12/27/2019</p>
          <hr>
          <div class="flex row" style="justify-content: space-between">
              <button type="button" class="btn btn-primary btn-small">Adjust Date</button>
              <button type="button" class="btn btn-danger btn-small">Reset Quarter/Week Totals</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="mx-5">
    <h3>All Users</h3>
    <ul class="nav nav-tabs" id="wellness-overview" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="users-tab" data-toggle="tab" href="#users" role="tab" aria-controls="users" aria-selected="true">Users</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="tasks-tab" data-toggle="tab" href="#tasks" role="tab" aria-controls="tasks" aria-selected="false">Tasks</a>
      </li>
    </ul>
    <div class="card">
      <div class="card-body">
        <div class="tab-content">
          <div class="tab-pane fade show active" id="users" role="tabpanel" aria-labelledby="users-tab">
            <ngx-table *ngIf="users !== null && userColumns != null" [configuration]="configuration"
              [data]="users"
              [columns]="userColumns">

              <ng-template let-row let-index="index">
                <td>
                  {{ row.name }}
                </td>
                <td>
                  {{ row.username }}
                </td>
                <td>
                  {{ row.email }}
                </td>
                <td>
                  {{ row.week_goal }} / {{ row.week_total }}
                </td>
                <td>
                  {{ row.quarter_total }} / {{ row.quarter_goal }}
                </td>
                <td>
                  {{ row.payroll_code }}
                </td>
                <td>
                  {{ row.smoker }}
                </td>
                <td>
                  {{ row.roles[0].name }}
                </td>
                <td>
                  {{ row.category.name }}
                </td>
              </ng-template>
            </ngx-table>
          </div>
          <div class="tab-pane fade show active" id="tasks" role="tabpanel" aria-labelledby="tasks-tab">
              <ngx-table *ngIf="pending !== null && pendingColumns != null" [configuration]="configuration"
              [data]="pending"
              [columns]="pendingColumns">

              <ng-template let-row let-index="index">
                <td>
                  {{ row.name }}
                </td>
                <td>
                  {{ row.username }}
                </td>
                <td>
                  {{ row.email }}
                </td>
                <td>
                  {{ row.week_goal }} / {{ row.week_total }}
                </td>
                <td>
                  {{ row.quarter_total }} / {{ row.quarter_goal }}
                </td>
                <td>
                  {{ row.payroll_code }}
                </td>
                <td>
                  {{ row.smoker }}
                </td>
                <td>
                  {{ row.roles[0].name }}
                </td>
                <td>
                  {{ row.category.name }}
                </td>
              </ng-template>
            </ngx-table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>