<div class="dashboard-wrapper">
  <!-- admin dashboard header: dropdown, search bar, button group -->
  <div class="dashboard-header">
    <!-- dropdown div -->
    <div class="one-fourth-width">
      <select
        id="dropdown"
        (change)="dropdownChanged()"
        class="custom-select format-select"
        [(value)]="selected"
      >
        <option *ngFor="let option of options" [value]="option">
          {{ option | titlecase }}
        </option>
      </select>
    </div>

    <!-- searchbar div -->
    <div
      class="one-half-width center-content format-searchbar padding-left-right"
    >
      <div class="input-group mb-3">
        <input
          type="text"
          class="form-control input-sm"
          placeholder="Search..."
          aria-label="Recipient's username"
          aria-describedby="basic-addon2"
        />
        <div class="input-group-append">
          <button class="btn btn-outline-secondary button-height" type="button">
            <i class="fas fa-search"></i>
          </button>
        </div>
      </div>
    </div>

    <!-- button group div -->
    <div class="format-button-group one-third-width content-flex-end">
      <div class="center-content">
        <button type="button" class="btn format-button btn-primary small-font">
          New Item
        </button>
        <button
          type="button"
          (click)="exportCompliantUsers()"
          class="btn format-button btn-primary small-font"
        >
          Export to Excel
        </button>
        <button type="button" class="btn format-button btn-primary small-font">
          Email Users
        </button>
      </div>
    </div>
  </div>

  <!-- tasks table header -->
  <div *ngIf="selected == 'tasks'" class="vertical-align bold-font">
    <div class="edit-column center-content"></div>
    <div class="small-width padding-left">Task ID</div>
    <div class="medium-width padding-left">Task Name</div>
    <div class="shmedium-width padding-left">Task Action</div>
    <div class="shmedium-width padding-left">Task Points</div>
    <div class="shmedium-width padding-left">Task Max</div>
    <div class="shmedium-width padding-left">Task Frequency</div>
    <div class="shmedium-width padding-left">Photo Required</div>
  </div>

  <div *ngIf="!tasks" class="center-content main-content">
    <div
      class="spinner-border text-primary"
      style="width: 4rem; height: 4rem;"
      role="status"
    >
      <span class="sr-only">Loading...</span>
    </div>
  </div>

  <!-- tasks table -->
  <div *ngIf="!tasks" class="center-content main-content">
    <div
      class="spinner-border text-primary"
      style="width: 4rem; height: 4rem;"
      role="status"
    >
      <span class="sr-only">Loading...</span>
    </div>
  </div>
  <div *ngIf="selected == 'tasks' && tasks" class="main-content">
    <div
      *ngFor="let task of tasks; let i = index"
      class="dashboard-class dashboard-column vertical-align"
    >
      <div class="edit-column center-content">
        <button
          id="edit-btn"
          type="button"
          (click)="editClicked(i)"
          class="edit-button btn btn-primary"
        >
          edit
        </button>
      </div>
      <div
        *ngIf="!columnEnlarged[i]"
        class="black-border white-background small-width padding-left-top"
      >
        {{ task.taskId }}
      </div>
      <div
        *ngIf="!columnEnlarged[i]"
        class="black-border white-background medium-width padding-left-top"
      >
        {{ task.taskName }}
      </div>
      <div
        *ngIf="!columnEnlarged[i]"
        class="black-border white-background shmedium-width padding-left-top"
      >
        {{ task.taskAction }}
      </div>
      <div
        *ngIf="!columnEnlarged[i]"
        class="black-border white-background shmedium-width padding-left-top"
      >
        {{ task.taskPoints }}
      </div>
      <div
        *ngIf="!columnEnlarged[i]"
        class="black-border white-background shmedium-width padding-left-top"
      >
        {{ task.taskMax }}
      </div>
      <div
        *ngIf="!columnEnlarged[i]"
        class="black-border white-background shmedium-width padding-left-top"
      >
        {{ task.taskFreq }}
      </div>
      <div
        *ngIf="!columnEnlarged[i]"
        class="black-border white-background shmedium-width padding-left-top"
      >
        {{ task.photoRequired }}
      </div>

      <!-- column enlarged details -->
      <div *ngIf="columnEnlarged[i]">
        <app-admin-task-view
          *ngIf="taskBeingEdited"
          [task]="taskBeingEdited"
        ></app-admin-task-view>
      </div>
    </div>
  </div>

  <!-- users table header -->
  <div *ngIf="selected == 'users'" class="vertical-align">
    <div class="edit-column center-content"></div>
    <div class="small-width padding-left">User ID</div>
    <div class="medium-width padding-left">Employee ID</div>
    <div class="small-width padding-left">First</div>
    <div class="small-width padding-left">Last</div>
    <div class="medium-width padding-left">Email</div>
    <div class="small-width padding-left">Payroll Code</div>
    <div class="small-width padding-left">Access Level</div>
    <div class="small-width padding-left">Point Goal</div>
    <div class="small-width padding-left">Current Point Total</div>
  </div>
</div>
