
<p-dialog header="Creation Menu" [(visible)]="display" [modal]="true" [responsive]="true" [style]="{width: '350px', minWidth: '200px'}" [minY]="70" 
[maximizable]="true" [baseZIndex]="10000">
<p>
  <span class="ui-float-label">
    <input id="float-input-title" type="text" size="30" pInputText> 
    <label for="float-input-title">Title</label>
  </span>
  <span class="ui-float-label">
    <input id="float-input-description" type="text" size="30" pInputText> 
    <label for="float-input-description">Description</label>
  </span>
  <span class="ui-float-label">
    <input id="float-input-date" type="text" size="30" pInputText> 
    <label for="float-input-date">Date</label>
  </span>
  <span class="ui-float-label">
    <input id="float-input-link" type="text" size="30" pInputText> 
    <label for="float-input-link">Link</label>
  </span>
  <span class="ui-float-label">
    <input id="float-input-start" type="text" size="30" pInputText> 
    <label for="float-input-start">Start</label>
  </span>
  <span class="ui-float-label">
    <input id="float-input-end" type="text" size="30" pInputText> 
    <label for="float-input-end">End</label>
  </span>
</p>
<p-footer>
    <button type="button" pButton icon="pi pi-check" (click)="display=false" label="Yes"></button>
    <button type="button" pButton icon="pi pi-close" (click)="display=false" label="No" class="ui-button-secondary"></button>
</p-footer>
</p-dialog>

<div class="dashboard-wrapper">
  <!-- admin dashboard header: dropdown, search bar, button group -->
  <div class="dashboard-header">
    <!-- dropdown div -->
    <div class="one-fourth-width">
      <select
        id="dropdown"
        (change)="dropdownChanged()"
        class="custom-select format-select"
        [(value)]="selected"
      >
        <option *ngFor="let option of options" [value]="option">
          {{ option | titlecase }}
        </option>
      </select>
    </div>

    <!-- searchbar div -->
    <div
      class="one-half-width center-content format-searchbar padding-left-right"
    >
      <div class="input-group mb-3">
        <input
          type="text"
          class="form-control input-sm"
          placeholder="Search..."
          aria-label="Recipient's username"
          aria-describedby="basic-addon2"
        />
        <div class="input-group-append">
          <button class="btn btn-outline-secondary button-height" type="button">
            <i class="fas fa-search"></i>
          </button>
        </div>
      </div>
    </div>

    <!-- button group div -->
    <div class="format-button-group one-third-width content-flex-end">
      <div class="center-content">
        <button 
          type="button" 
          (click)="showDialog()"
          class="btn format-button btn-primary small-font">
          New Item
        </button>
        <button
          type="button"
          (click)="exportCompliantUsers()"
          class="btn format-button btn-primary small-font"
        >
          Export to Excel
        </button>
        <button type="button" class="btn format-button btn-primary small-font">
          Email Users
        </button>
      </div>
    </div>
  </div>

  <!-- tasks table header -->
  <div *ngIf="selected == 'tasks'" class="vertical-align bold-font">
    <div class="edit-column center-content"></div>
    <div class="small-width padding-left">Task ID</div>
    <div class="medium-width padding-left">Task Name</div>
    <div class="shmedium-width padding-left">Task Action</div>
    <div class="shmedium-width padding-left">Task Points</div>
    <div class="shmedium-width padding-left">Task Max</div>
    <div class="shmedium-width padding-left">Task Frequency</div>
    <div class="shmedium-width padding-left">Photo Required</div>
    <div class="shmedium-width padding-left">Verification Required</div>
  </div>

  <div *ngIf="!tasks" class="center-content main-content">
    <div
      class="spinner-border text-primary"
      style="width: 4rem; height: 4rem;"
      role="status"
    >
      <span class="sr-only">Loading...</span>
    </div>
  </div>

  <!-- tasks table -->
  <div *ngIf="!tasks" class="center-content main-content">
    <div
      class="spinner-border text-primary"
      style="width: 4rem; height: 4rem;"
      role="status"
    >
      <span class="sr-only">Loading...</span>
    </div>
  </div>
  <div *ngIf="selected == 'tasks' && tasks" class="main-content">
    <div
      *ngFor="let task of tasks; let i = index"
      class="dashboard-class dashboard-column vertical-align"
    >
      <div class="edit-column center-content">
        <button
          id="edit-btn"
          type="button"
          (click)="editClicked(i)"
          class="edit-button btn btn-primary"
        >
          edit
        </button>
      </div>
      <div
        *ngIf="!columnEnlarged[i]"
        class="black-border white-background small-width padding-left-top"
      >
        {{ task.taskId }}
      </div>
      <div
        *ngIf="!columnEnlarged[i]"
        class="black-border white-background medium-width padding-left-top format-overflow"
      >
        {{ task.taskName }}
      </div>
      <div
        *ngIf="!columnEnlarged[i]"
        class="black-border white-background shmedium-width padding-left-top format-overflow"
      >
        {{ task.taskAction }}
      </div>
      <div
        *ngIf="!columnEnlarged[i]"
        class="black-border white-background shmedium-width padding-left-top"
      >
        {{ task.taskPoints }}
      </div>
      <div
        *ngIf="!columnEnlarged[i]"
        class="black-border white-background shmedium-width padding-left-top"
      >
        {{ task.taskMax }}
      </div>
      <div
        *ngIf="!columnEnlarged[i]"
        class="black-border white-background shmedium-width padding-left-top"
      >
        {{ task.taskFreq }}
      </div>
      <div
        *ngIf="!columnEnlarged[i]"
        class="black-border white-background shmedium-width padding-left-top"
      >
        {{ task.photoRequired }}
      </div>
      <div
        *ngIf="!columnEnlarged[i]"
        class="black-border white-background shmedium-width padding-left-top"
      >
        {{ task.verificationRequired }}
      </div>

      <!-- column enlarged details -->
      <div *ngIf="columnEnlarged[i]">
        <app-admin-task-view
          *ngIf="taskBeingEdited"
          [task]="taskBeingEdited"
        ></app-admin-task-view>
      </div>
    </div>
  </div>

  <!-- users table header -->
  <div *ngIf="selected == 'users'" class="vertical-align bold-font">
    <!-- <div class="edit-column center-content"></div>
    <div class="small-width padding-left">User ID</div>
    <div class="medium-width padding-left">Payroll Code</div>
    <div class="small-width padding-left">Name</div>
    <div class="medium-width padding-left">Email</div>
    <div class="small-width padding-left">Access Level</div>
    <div class="small-width padding-left">Quarter Total</div>
    <div class="small-width padding-left">Quarter Goal</div>
    <div class="small-width padding-left">Category</div> -->

    <div class="edit-column center-content"></div>
    <div class="small-width padding-left">User ID</div>
    <div class="medium-width padding-left">Payroll Code</div>
    <div class="shmedium-width padding-left">Name</div>
    <div class="shmedium-width padding-left">Email</div>
    <div class="shmedium-width padding-left">Access Level</div>
    <div class="shmedium-width padding-left">Quarter Total</div>
    <div class="shmedium-width padding-left">Quarter Goal</div>
    <div class="shmedium-width padding-left">Category</div>
  </div>

  <div *ngIf="!tasks" class="center-content main-content">
    <div
      class="spinner-border text-primary"
      style="width: 4rem; height: 4rem;"
      role="status"
    >
      <span class="sr-only">Loading...</span>
    </div>
  </div>

  <!-- users table -->
  <div *ngIf="!users" class="center-content main-content">
    <div
      class="spinner-border text-primary"
      style="width: 4rem; height: 4rem;"
      role="status"
    >
      <span class="sr-only">Loading...</span>
    </div>
  </div>
  <div *ngIf="selected == 'users' && users" class="main-content">
    <div
      *ngFor="let user of users; let i = index"
      class="dashboard-class dashboard-column vertical-align"
    >
      <div class="edit-column center-content">
        <button
          id="edit-btn"
          type="button"
          (click)="editClicked(i)"
          class="edit-button btn btn-primary"
        >
          edit
        </button>
      </div>
      <div
        *ngIf="!columnEnlarged[i]"
        class="black-border white-background small-width padding-left-top"
      >
        {{ user.username }}
      </div>
      <div
        *ngIf="!columnEnlarged[i]"
        class="black-border white-background medium-width padding-left-top format-overflow"
      >
        {{ user.payroll_code }}
      </div>
      <div
        *ngIf="!columnEnlarged[i]"
        class="black-border white-background shmedium-width padding-left-top format-overflow"
      >
        {{ user.name }}
      </div>
      <div
        *ngIf="!columnEnlarged[i]"
        class="black-border white-background shmedium-width padding-left-top"
      >
        {{ user.email }}
      </div>
      <div
        *ngIf="!columnEnlarged[i]"
        class="black-border white-background shmedium-width padding-left-top"
      >
        {{ user.roles[0].name }}
      </div>
      <div
        *ngIf="!columnEnlarged[i]"
        class="black-border white-background shmedium-width padding-left-top"
      >
        {{ user.quarter_total }}
      </div>
      <div
        *ngIf="!columnEnlarged[i]"
        class="black-border white-background shmedium-width padding-left-top"
      >
        {{ user.quarter_goal }}
      </div>
      <div
        *ngIf="!columnEnlarged[i]"
        class="black-border white-background shmedium-width padding-left-top"
      >
        {{ user.category.name }}
      </div>

      <!-- column enlarged details -->
      <div *ngIf="columnEnlarged[i]">
        <app-admin-user-view
          *ngIf="userBeingEdited"
          [user]="userBeingEdited"
        ></app-admin-user-view>
      </div>
    </div>
  </div>

  <div *ngIf="selected == 'pending'" class="vertical-align bold-font">
    <div class="validate-column center-content">Accept</div>
    <div class="validate-column center-content"></div>
    <div class="small-width padding-left">User ID</div>
    <div class="shmedium-width padding-left">Task Name</div>
    <div class="shmedium-width padding-left">Task Points</div>
    <div class="shmedium-width padding-left">Completion Date</div>
    <div class="shmedium-width padding-left">Photo URL</div>
    <div class="large-width padding-left">Description</div>
  </div>
  <!-- <div class="shmedium-width padding-left">Quarter Goal</div>
    <div class="shmedium-width padding-left">Category</div> -->
  <!-- logged tasks table -->
  <div *ngIf="!usertasks" class="center-content main-content">
    <div
      class="spinner-border text-primary"
      style="width: 4rem; height: 4rem;"
      role="status"
    >
      <span class="sr-only">Loading...</span>
    </div>
  </div>
  <div *ngIf="selected === 'pending' && usertasks !== null" class="main-content">
    <div
      *ngFor="let checkin of usertasks; let i = index"
      class="dashboard-class dashboard-column vertical-align">
      <div class="validate-column center-content">
        <button
          id="validate-btn"
          type="button"
          (click)="validateClicked(checkin)"
          class="validate-button btn btn-primary">
          Yes
        </button>
      </div>
      <div class="validate-column center-content">
        <button
          id="reject-btn"
          type="button"
          (click)="rejectClicked(checkin)"
          class="reject-button btn btn-primary">
          No
        </button>
      </div>
      <div
        *ngIf="!columnEnlarged[i]"
        class="black-border white-background small-width padding-left-top">
        {{ checkin.userId }}
      </div>
      <div
        *ngIf="!columnEnlarged[i]"
        class="black-border white-background shmedium-width padding-left-top format-overflow">
        {{ checkin.taskName }}
      </div>
      <div
        *ngIf="!columnEnlarged[i]"
        class="black-border white-background shmedium-width padding-left-top format-overflow">
        {{ checkin.taskPoints }}
      </div>
      <div
        *ngIf="!columnEnlarged[i]"
        class="black-border white-background shmedium-width padding-left-top"
      >
        {{ checkin.completionDate }}
      </div>
      <div
        *ngIf="!columnEnlarged[i]"
        class="black-border white-background shmedium-width padding-left-top"
      >
        {{ checkin.photo }}
      </div>
      <!-- <div
        *ngIf="!columnEnlarged[i]"
        class="black-border white-background shmedium-width padding-left-top"
      >
        {{ usertask.verified }}
      </div> -->
      <div
        *ngIf="!columnEnlarged[i]"
        class="black-border white-background large-width padding-left-top"
      >
        {{ checkin.description }}
      </div>
      <!-- <div
        *ngIf="!columnEnlarged[i]"
        class="black-border white-background shmedium-width padding-left-top"
      >
        {{ user.category.name }}
      </div> -->

      <!-- column enlarged details
      <div *ngIf="columnEnlarged[i]">
        <app-admin-user-view
          *ngIf="userBeingEdited"
          [user]="userBeingEdited"
        ></app-admin-user-view>
      </div> -->
    </div>
  </div>
</div>
