.dashboard-wrapper {
  height: 75vh;
  margin: 25px;
}

.dashboard-header {
  height: 10vh;
  margin: 10px;
  display: flex;
}

.vertical-align {
  display: flex;
}

.edit-column {
  width: 7%;
}

.edit-button {
  color: white;
  border-radius: 2px;
}

#edit-btn {
  padding: 0.075rem 0.4rem;
}

.white-background {
  background-color: #ffffff;
}

.small-width {
  width: 7%;
  overflow: hidden;
}

.shmedium-width {
  width: 13%;
  overflow: hidden;
}

.medium-width {
  width: 20%;
  overflow: hidden;
}

.padding-left-top {
  padding-left: 10px;
  padding-top: 10px;
}

.padding-left {
  padding-left: 0px;
}

.main-content {
  height: 60vh;
  overflow: auto;
  border-radius: 1px;
}

.content-flex-end {
  justify-content: flex-end;
  flex: 1;
}

.black-border {
  border: 0.75px solid gray;
}

.padding-left-right {
  padding-left: 5%;
  padding-right: 15%;
}

.one-third-width {
  width: 33.3333%;
  overflow: wrap;
}

.one-half-width {
  width: 50%;
}

.one-fourth-width {
  width: 25%;
}

.format-select {
  margin-top: 10px;
  padding-top: 10px;
  background-color: #f8f9fa;
  width: 50%;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid black;
  font-weight: bolder;
  font-size: 130%;
  min-width: 180px;
  outline: 0px !important;
  -webkit-appearance: none;
  box-shadow: none !important;
}

.format-select option {
  font-weight: bolder;
}

.format-overflow {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.bold-font {
  font-weight: bold;
}

.small-font {
  font-size: 75%;
}

.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.format-button-group {
  display: flex;
}

.format-button {
  width: 30%;
  min-width: 120px;
  height: 40px;
  margin: 2px;
}

.format-searchbar {
  padding-top: 15px;
}

.button-height {
  height: 38px;
}

.dashboard-column {
  height: 10%;
}

.dashboard-column-enlarged {
  animation-name: expand;
  animation-duration: 0.75s;
  height: 50%;
}

.dashboard-column-contracted {
  animation-name: contract;
  animation-duration: 0.75s;
  height: 10%;
}

/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #007bff;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #007bff;
}

@keyframes expand {
  from {
    height: 10%;
  }
  to {
    height: 50%;
  }
}

@keyframes contract {
  from {
    height: 50%;
  }
  to {
    height: 10%;
  }
}
