:host {
  display: flex;
}

.forgot {
  width: 30vw;
}

.forgot label {
  font-weight: bold;
}

/**************** MEDIA QUERIES *****************/
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  .forgot {
    width: 80vw;
  }
}
