<div class="forgot-password">
  <h2 class="header">Forgot Password</h2>
  <div
    class="displayUsernameInput"
    *ngIf="questionSet === null; else displayQuestions"
  >
    <div class="reset-info">
      <div>Forgot your password?</div>
      <div>
        Please enter your username below
      </div>
    </div>
    <div class="form-container">
      <label for="username">Username</label>
      <input
        #usernameInput
        type="text"
        id="username"
        placeholder="username1234"
      />
    </div>
    <div class="button-wrapper">
      <button
        type="button"
        id="submit-button"
        (click)="retrieveQuestions(usernameInput.value)"
      >
        Submit
      </button>
    </div>
  </div>

  <ng-template #displayQuestions>
    <div class="resetQuestions">
      <div class="form-container">
        <label for="answer1">{{ questionSet.question1 }}</label>
        <input #answer1 type="text" id="answer1" placeholder="Answer 1" />
      </div>
      <div class="form-container">
        <label for="answer2">{{ questionSet.question2 }}</label>
        <input #answer2 type="text" id="answer2" placeholder="Answer 2" />
      </div>
      <div class="form-container">
        <label for="answer3">{{ questionSet.question3 }}</label>
        <input #answer3 type="text" id="answer3" placeholder="Answer 3" />
      </div>
      <div class="form-container">
        <label for="newpassword">Please enter a new password</label>
        <input #newpassword type="text" id="newpassword" placeholder="******" />
      </div>
      <div class="button-wrapper">
        <button
          type="button"
          id="submit-button"
          (click)="
            resetPassword(
              answer1.value,
              answer2.value,
              answer3.value,
              newpassword.value
            )
          "
        >
          Submit
        </button>
      </div>
    </div>
  </ng-template>

  <div class="classFlex">{{ displayText }}</div>
  <div id="message" class="{{ displayClass }}"></div>
</div>

<!-- <div
  class="modal fade"
  tabindex="-1"
  id="email-modal"
  role="dialog"
  data-backdrop="false"
>
  <div class="modal-dialog" role="content">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-title">Check Your Email</div>
      </div>
      <div class="modal-body">
        We've sent an email with a link and instructions for resetting your
        password
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div> -->
<!-- <div class="modal fade" id="email-modal"></div> -->
