:host {
  display: flex;
}

.btn-primary {
  background-color: #43AA8B;
  border: none;
}

.btn-secondary {
  background-color: #2C2B3C;
  border: none;
}

.authenticate {
  width: 20vw;
  height: 40vh;
}

.authenticate-header > h2 {
  text-align: center;
  margin-bottom: 2%;
  margin-top: 5%;
}
.form-wrapper {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
.authenticate label {
  margin-top: 0;
  color: black;
  float: left;
  clear: both;
  margin: 0px 0 3px;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  box-sizing: border-box;
}
label {
  display: inline-block;
  max-width: 100%;
  font-weight: bold;
}

input {
  width: 100%;
  margin-bottom: 2%;
  border-radius: 4px;
  height: 42px;
  padding: 0.25rem 0.75rem;
  border: solid 1px #ccc;
  box-sizing: border-box;
  display: inline-block;
}

.forgot-password {
  text-align: center;
  margin: 1rem 0 1rem 0;
}

.forgot-password a {
  color: #2C2B3C;
}

.register {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  box-sizing: border-box;
  color: #fff;
  text-align: center;
  padding-bottom: 1rem;
}

/**************** MEDIA QUERIES *****************/
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  .authenticate {
    width: 80vw;
  }
}