:host {
  display: flex;
}

.btn-primary {
  background-color: #43AA8B;
  border: none;
}

.btn-secondary {
  background-color: #2C2B3C;
  border: none;
}

.authenticate {
  width: 25vw;
}

.authenticate label {
  margin-top: 0;
  color: black;
  float: left;
  clear: both;
  margin: 0px 0 3px;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  box-sizing: border-box;
  font-weight: bold;
}

.forgot-password {
  text-align: center;
  margin: 1rem 0 1rem 0;
}

.forgot-password a {
  color: #2C2B3C;
}

/**************** MEDIA QUERIES *****************/
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  .authenticate {
    width: 80vw;
  }
}
