.authenticate {
  max-width: 350px;
  height: 475px;
  /* background: rgba(12, 32, 116, 0.9); */
  color: black;
  /* position: absolute; */
  display: flex;
  top: 0;
  overflow-y: auto;
  border-radius: 15px;
  padding: 25px 40px 40px;
  box-sizing: border-box;
  margin: 0 auto;
}

div {
  display: block;
  padding-bottom: 0.5em;
}

.authenticate-header {
  font-size: 28px;
}

.authenticate-header > h2 {
  text-align: center;
  margin-bottom: 2%;
  margin-top: 5%;
}
.form-wrapper {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
.authenticate label {
  margin-top: 0;
  color: black;
  float: left;
  clear: both;
  margin: 0px 0 3px;
  font-size: 16px;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  box-sizing: border-box;
}
label {
  display: inline-block;
  max-width: 100%;
  font-weight: bold;
}
.authenticate input {
  margin: 0;
  display: inline-block;
  vertical-align: middle;
  white-space: normal;
  line-height: 1;
}
input {
  color: #0ca6cc;
  width: 100%;
  margin-bottom: 2%;
  background: #fff;
  border-radius: 4px;
  height: 42px;
  padding: 3px 9px;
  font-size: 14px;
  border: solid 1px #ccc;
  box-sizing: border-box;
  display: inline-block;
}
input::placeholder {
  color: #0ca6cc;
}
.forgot-password {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  box-sizing: border-box;
  color: #fff;
  text-align: center;
  padding-bottom: 1em;
}
.register {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  box-sizing: border-box;
  color: #fff;
  text-align: center;
  padding-bottom: 1em;
}
.authenticate a {
  margin-top: 2%;
  margin-bottom: 5%;
  text-align: center;
  position: relative;
  z-index: 1;
  color: black;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  text-decoration: underline;
  vertical-align: baseline;
  box-sizing: border-box;
  border: 0;
  padding: 0;
  background-color: transparent;
}
.button-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  /* padding-bottom: 0em; */
}
.authenticate button {
  color: #fff;
  background: rgb(14, 210, 236);
  border: solid 2px rgb(14, 210, 236);
  font-weight: bold;
  padding: 7px 0 7px;
  white-space: normal;
  font-size: 12px;
  width: 80%;
  margin: 0 auto;
  border-radius: 4px;
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
}
#sign-up {
  background: rgb(82, 214, 5);
  border: solid 2px rgb(82, 214, 5);
}
.classFlex {
  display: flex;
  padding-top: 1em;
  color: #0ca6cc;
  font-weight: bold;
}
.classFlexError {
  display: flex;
  padding-top: 1em;
  color: #b30303;
  font-weight: bold;
}
