table {
  margin: 0 auto;
  width: 60%;
}
thead {
  color: white;
  background: rgb(104, 104, 104);
  border-bottom: 1px solid black;
}
tr:nth-child(odd) {
  background: rgb(218, 216, 216);
}
.classFlex {
  width: 100%;
  text-align: center;
  display: flex;
  padding-top: 1em;
  color: #0ca6cc;
  font-weight: bold;
}
